{% extends 'base.template.html' %}

{% block title %}User Calorie{% endblock %}

{%block content%}
<h1>User Calorie Intake</h1>

<table class="table">
    <thead>
        <tr>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Food Dish </th>
            <th> Calorie </th>
            <th> Meal of the day </th>
            <th> Date </th>
        </tr>
    </thead>
    {% for user in all_users %}
    <tr>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.food}}</td>
        <td>{{user.calorie}}</td>
        <td>{{user.meal}}</td>
        <td>{{user.date}}</td>
    </tr>
    {% endfor %}
</table>

<h1> Food eaten today </h1>
<ul class = "list-group">
    {% for user in all_users %}
        <li class="list-group-item">{{user.food}} ({{user.calorie}}) </li>
    {% endfor %}
</ul>

{% endblock %}


